.popup_overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.562);

  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  animation: fadeIn_overlay 0.5s ease-in-out;
}

.popup {
  background-color: white;

  min-height: 100px;
  max-height: 90vh;
  padding: 40px;
  border-radius: 30px;
  animation: fadeIn_popup 0.5s ease-in-out;
  overflow-y: auto;
  overflow-x: hidden;
  width: 500px;
}

.items_box {
  margin: 30px 0;
  background-color: var(--Rose50);
  padding: 25px;
  border-radius: 10px;
}

.cart_items li {
  box-sizing: border-box;
}

.order_details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order_details_left img {
  max-width: 80px;
  height: auto;
  border-radius: 10px;
}

.order_details_left {
  display: flex;
  align-items: center;

  gap: 20px;
}

.order_details_left_box {
  display: flex;
  flex-direction: column;
}

.order_details_left_box_down {
  display: flex;
  gap: 15px;
}

.confirm_order_button {
  background-color: var(--Red);
  color: var(--Rose100);
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  border: none;
  border-radius: 30px;
  padding: 20px 0;
}

.total_price_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total_price {
  font-weight: 800;
  font-size: 40px;
  color: var(--Rose900);
}
.item_count {
  color: var(--Red);
  font-weight: 700;
}

.product_price {
  font-weight: 300;
  color: gray;
}

.item_name {
  font-weight: 800;
  margin-bottom: 10px;
  color: var(--Rose900);
}

hr {
  opacity: 0.3;
  margin: 25px 0;
}

.popup::-webkit-scrollbar {
  width: 10px;
}

.popup::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.popup::-webkit-scrollbar-thumb {
  background: var(--Rose500);
  border-radius: 10px;
}

.popup::-webkit-scrollbar-thumb:hover {
  background: var(--Red);
}

@keyframes fadeIn_overlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn_popup {
  from {
    opacity: 0;
    scale: 0;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@media screen and (max-width: 1260px) {
  .popup {
    width: fit-content;
  }
}
